.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8%;
 }

 .flex {
    display: flex;
    align-items: center;
    column-gap: 8rem;
 }

.cabecalho-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cabecalho-logo h3 {
   font-size: 1.125rem;
}

 .cabecalho__lista {
    display: flex;
    gap: 2rem;
 }

 .cabecalho__lista a {
    color: var(--cor-cinza-principal-texto);
 }

 .cabecalho__lista a:hover {
    color: var(--cor-cinza-escuro-secundario-texto);
    transition: .5s;
 }

 .btn-entrar {
    border: none;
    background-color: var(--cor-de-fundo);
    color: var(--cor-cinza-principal-texto);
    margin-right: 0.75rem;
    cursor: pointer;
 }

 .btn-entrar:hover {
    color: var(--cor-cinza-escuro-secundario-texto);
    transition: .5s;
 }

 .btn-cadastro {
    border: none;
    background-color: var(--cor-botao-cadastro-e-texto);
    color: var(--cor-de-fundo);
    border-radius: 8px;
    padding: 0.625rem 1.125rem;
    cursor: pointer;
 }

